arrow==0.7.0
blessed==1.12.0
blinker==1.4
colorama==0.3.3
Django==1.8.5
django-picklefield==0.3.2
django-q==0.7.10
django-redis==4.2.0
future==0.15.2
msgpack-python==0.4.6
py==1.4.30
pytest==2.8.2
python-dateutil==2.4.2
python-termstyle==0.1.10
redis==2.10.3
six==1.10.0
wcwidth==0.1.5
wheel==0.26.0
